:root {
    --bg: #1b1b1f;
    --card-bg: #2c2c31;
    --accent: #ff4655;
    --accent-hover: #e03a4e;
    --text: #fff;
    --text-light: #aaa;
    --sidebar-width: 250px;
}
  
body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background-color: var(--bg);
    color: var(--text);
}

.container {
    margin: 20px auto;
    text-align: center;
    width:100%;
}

.roles-table {
    width: 95%;
    border-collapse: collapse;
    margin: 20px auto;
}

.roles-table th, .roles-table td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: left;
}

/* Set a fixed width for the Actions column */
.roles-table th:nth-child(4),
.roles-table td:nth-child(4) {
    width: 200px;
}

.roles-table th {
    background-color: var(--card-bg);
    color: var(--text);    
    font-weight: bold;
    text-align: center;
}

.roles-table select {
    padding: 5px;
}

.update-btn, .delete-btn {
    padding: 10px 15px;
    margin: 5px 5px 5px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.update-btn {
    background-color: #007bff;
    color: white;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
}


.update-btn:hover {
    background-color: #0056b3;
}

.delete-btn:hover {
    background-color: #c82333;
}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: #333;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    min-width: 400px;
    text-align: left; 
    display: flex;
    flex-direction: column; 
    gap: 15px; 
}

.modal-content h3 {
    margin: 0;
    font-size: 24px;
    text-align: center;
}

.close-btn {
    align-self: flex-end; 
    font-size: 20px;
    cursor: pointer;
}

label {
    display: block; 
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%; 
    padding: 8px;
    margin-bottom: 10px; 
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

.save-btn {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: var(--accent);
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%; 
}

.save-btn:hover {
    background-color: var(--accent-hover);
}
