@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap");

:root {
  --bg: #1b1b1f;
  --card-bg: #2c2c31;
  --accent: #ff4655;
  --text: #fff;
  --text-light: #aaa;
  --border: rgba(255, 255, 255, 0.1);
  --input-bg: #242428;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  background-color: var(--bg);
}

.sidebar,
.content {
  flex: 1;
  background-color: var(--card-bg);
  border-radius: 8px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 90vh;
  overflow-y: auto;
}

.sidebar {
  max-width: 15%;
}

.books {
  max-width: 80%;
}

.sidebar h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: var(--text);
}

.sidebar h2 {
  justify-self: center;
  margin: 10px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.sidebar ul li {
  margin-bottom: 10px;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.25rem;
  font-weight: 500;
  background-color: #f0f8ff;
  padding: 5px 10px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar ul li a:hover {
  background-color: #dceeff;
  text-decoration: underline;
}

@media (max-width: 1024px) {
  .book-item {
    flex: 1 1 calc(50% - 15px);
    max-width: calc(50% - 15px);
  }
}

@media (max-width: 768px) {
  .content {
    flex: 1 1 calc(100% - 15px);
    max-width: calc(100% - 15px);
  }
}
